.navbar{
    display: flex;
    justify-content: space-between;
}
.linkIvond{
    display: flex;
    justify-content: space-around;
}
.appLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-left: 15px;
}